/** Footer styles */
footer {
    background-color: $OHGrey;

    color: $OHWhite;
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        .footer-wrapper__section  {
            width: 32%;
        }
    }
}