/** Shop Products styles */
.shop--products {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 50%;
        background-color: $OHGrey;
        box-sizing: border-box;
        border: 1px solid $OHDarkGrey;
        &:hover {
            background-color: $OHLightGreen;
        }
        &-image {
            background-color: $OHWhite;
            overflow: hidden;
            height:8rem;
            display:flex;
            justify-content: center;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}
