/** Structure styling */

body {
    background: $OHDarkGrey;
    color: $OHWhite;
}
.max-wrapper {
    padding: 0 5%;
}
.store-front-open {
    background-color: $OHGrey;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: -5%;
    margin-right: -5%;
    padding-bottom: 1rem;
}